{% extends "base.html" %}

{% block content %}
<h1>Emprunter le livre</h1>

<div class="card">
    <img class="book-cover" src="{{ book_instance.book.cover.url }}" alt="Image du livre {{ book_instance.book.title }}">
    <div class="container">
        <h4><b>{{ book_instance.book.title }}</b></h4>
        <p>{{ book_instance.library.name }}</p>
        {% if book_infos.borrower %}
            <p class="unavailable">Indisponible</p>
        {% else %}
            <p class="available">Disponible</p>
            <form action="{% url 'borrow_book' library_id %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="book_instance_id" value="{{ book_instance.id }}">
                {{ borrow_form.as_p }}
                <button type="submit">Emprunter</button>
            </form>
        {% endif %}
    </div>
</div>


{% endblock %}