{% extends 'base.html' %}

{% block content %}
<h1>Recherche de livres</h1>

<form action="{% url 'search' %}" method="get">
    <input name="book_name" type="text" placeholder="Entrez un nom de livre...">
</form>

{% if books_infos %}

<h2>Résultats de la recherche</h2>

<div class="result">
{% for book_infos in books_infos %}
<div class="card">
    <img class="book-cover" src="{{ book_infos.book.cover.url }}" alt="Image du livre {{ book_infos.book.title }}">
    <div class="container">
        <h4><b>{{ book_infos.book.title }}</b></h4>
        <p>Présent chez :</p>
        {% for library in book_infos.libraries %}
            <ul>
                <li>{{ library.name }}</li>
            </ul>
        {% endfor %}
    </div>
</div>
{% endfor %}
</div>

{% else %}
    <p>Aucun livre ne correspond à votre recherche.</p>
{% endif %}


{% endblock %}