{% extends 'base.html' %}

{% block content %}
<h1>Recherche de livres</h1>

<form action="{% url 'search' %}" method="get">
    <input name="book_name" type="text" placeholder="Entrez un nom de livre...">
</form>

{% if books_infos %}

<h2>Résultats de la recherche</h2>

<div class="result">
{% for book_infos in books_infos %}
<div class="card">
    <img class="book-cover" src="{{ book_infos.book.cover.url }}" alt="Image du livre {{ book_infos.book.title }}">
    <div class="container">
        <h4><b>{{ book_infos.book.title }}</b></h4>
        <p>Disponible chez :</p>
        <ul>
            {% for lib_dict in book_infos.libraries %}
                {% if lib_dict.available == True %}
                    <li>{{ lib_dict.library.name }} - <span class="available">(Disponible)</span></li>
                {% else %}
                    <li>{{ lib_dict.library.name }} - <span class="unavailable">(Indisponible)</span></li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
</div>
{% endfor %}
</div>

{% else %}
    <p>Aucun livre ne correspond à votre recherche.</p>
{% endif %}


{% endblock %}